<mat-toolbar class="toolbar" color="primary">
  <button mat-button routerLink="/">
    {{title}}
  </button>

  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/users">Users</button>
    <button mat-button routerLink="/workers">Workers</button>
    <button mat-button routerLink="/orders">Orders</button>
  </div>
  <span class="fill-space"></span>
  <div *ngIf="!isLoggedIn">
    <button mat-button routerLink="/login">Login</button>
  </div>
  <div *ngIf="isLoggedIn">
    <button mat-button (click)="logout()">Logout</button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
