<mat-card class="order-card">
  <mat-card-header>
    <mat-card-title>Order Card</mat-card-title>
    <mat-card-subtitle>id: {{order.id}}</mat-card-subtitle>
  </mat-card-header>
  <form [formGroup]="orderFormGroup">
    <mat-card-content>
      <div class="form-container">
        <mat-form-field class="form-full-width">
          <input matInput placeholder="Date" id="orderDate" name="order_date" formControlName="orderDate">
        </mat-form-field>

        <mat-form-field class="form-full-width">
          <input matInput placeholder="Description" id="orderDescription" name="order_description" formControlName="orderDescription">
        </mat-form-field>
        <mat-form-field class="form-full-width">
          <mat-select
            placeholder="Order Status"
            name="order_status"
            formControlName="orderStatus"
            [(ngModel)]="selectedOrderStatus"
          >
            <mat-option
              *ngFor="let orderStatus of orderStatuses"
              [value]="orderStatus.id"
            >{{orderStatus.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-full-width">
          <mat-select
            placeholder="Assigned To"
            name="assigned_to"
            formControlName="assignedTo"
            [(ngModel)]="selectedOrderStatus"
          >
            <mat-option
              *ngFor="let worker of workers"
              [value]="orderStatus.id"
            >{{orderStatus.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
    <!--<mat-card-actions>-->
      <!--<button mat-button (click)="onBack()">BACK</button>-->
      <!--<button mat-raised-button color="primary"-->
              <!--type="submit"-->
              <!--(click)="onSaveWorker()"-->
              <!--[disabled]="!workerFormGroup.valid">SAVE-->
      <!--</button>-->
      <!--<button mat-raised-button color="warn" (click)="onDelete()" *ngIf="editMode">DELETE</button>-->
    <!--</mat-card-actions>-->
  </form>
</mat-card>
